{% extends 'components/base.html' %}

{% block title%}TrainMe | Classifications{% endblock %}
{% block create     %}p-2 transition bg-gray-200 rounded block text-lg text-black{% endblock %}
{% block my_backend %}p-2 transition hover:bg-gray-200 rounded block text-lg text-black hover:text-black{% endblock %}
{% block manual     %}p-2 transition hover:bg-gray-200 rounded block text-lg text-black hover:text-black{% endblock %}


{% block content %}
<h1 class="text-2xl font-bold">Классификатор</h1>
<div class="mt-4 w-1/2">
<form id="create-handler-form" class="space-y-4" method="post" enctype="multipart/form-data">
    <div>
        <label for="endpoint_path" class="block font-medium">Путь конечной точки:</label>
        <input type="text" id="endpoint_path" name="endpoint_path" required class="mt-1 p-2 border border-gray-300 rounded w-full">
    </div>

    <div>
        <label for="algorithm" class="block font-medium">Выберите алгоритм:</label>
        <select id="algorithm" name="algorithm" required class="mt-1 p-2 border border-gray-300 rounded w-full">
            <option value="logistic_regression">Логистическая регрессия</option>
            <option value="boost">Градиентный бустинг</option>
        </select>
    </div>

    <div>
        <label for="dataset" class="block font-medium text-gray-700 mb-2">Загрузите набор данных (CSV):</label>
        <input type="file" id="dataset" name="dataset" accept=".csv" required class="sr-only" />
        <label for="dataset" class="transition bg-transparent hover:bg-black text-black font-semibold hover:text-white py-2 px-4 border border-black hover:border-transparent rounded cursor-pointer">Выбрать файл</label>
        <span id="file-name" class="mt-2 text-gray-700 ml-2"></span>
    </div>

    <div>
        <label for="label_name" class="block font-medium">Имя метки:</label>
        <input type="text" id="label_name" name="label_name" required class="mt-1 p-2 border border-gray-300 rounded w-full">
    </div>

    <button type="submit" class="bg-black text-white py-2 px-4 rounded w-full">Создать обработчик</button>
    </form>
        <div id="response" class="mt-4"></div>
    </div>
            <!-- Уведомление при успехе-->
    <div id="notification" class="hidden fixed bottom-24 right-4 bg-green-500 text-white font-semibold tracking-wide flex items-center w-max max-w-sm p-4 rounded-md shadow-md shadow-green-200">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-[18px] shrink-0 fill-white inline mr-3" viewBox="0 0 512 512">
            <ellipse cx="256" cy="256" fill="#fff" data-original="#fff" rx="256" ry="255.832" />
            <path class="fill-green-500" d="m235.472 392.08-121.04-94.296 34.416-44.168 74.328 57.904 122.672-177.016 46.032 31.888z" data-original="#ffffff" />
        </svg>
        <span class="block sm:inline text-sm mr-3">Update successfully</span>
    </div>
    <script src="{{ url_for('static', path='js/classifications.js') }}"></script>
{% endblock %}