{% extends 'components/base.html' %}

{% block title%}TrainMe | Кластеризация{% endblock %}
{% block create     %}p-2 transition bg-gray-200 rounded block text-lg text-black{% endblock %}
{% block my_backend %}p-2 transition hover:bg-gray-200 rounded block text-lg text-black hover:text-black{% endblock %}
{% block manual     %}p-2 transition hover:bg-gray-200 rounded block text-lg text-black hover:text-black{% endblock %}


{% block content %}
<h1 id="my-text" class="text-2xl font-bold">Кластеризация</h1>
<p class="text-lg mt-4">Тут будет форма для создания клстеризатора</p>

{% endblock %}
