**/.venv/
**/.idea/
**/__pycache__/
**/jwt-private.pem
**/jwt-public.pem
**/.env
/frontend/node_modules/
/analys/.venv/
/analys/data/data_01.csv
/analys/data/data_02.csv
/analys/data/data_03.csv
/analys/data/data_04.csv
/analys/data/direct.csv
/analys/data/WARNING_BIG_DATA.csv