/frontend/node_modules/
/frontend/.idea/


/backend/.venv/
/backend/.idea/
/backend/src/__pycache__/
/backend/src/*/__pycache__/
/backend/src/*/*/__pycache__/
/backend/alembic/__pycache__/
/backend/alembic/versions/__pycache__/
/backend/src/weights/*
