<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TrainMe | Home</title>
    <link href="/src/statics/styles/out.css" rel="stylesheet">
</head>
<body>
  <div class="flex">
    <!-- Sidebar -->
    <div class="w-1/6 h-screen bg-white sticky sidebar">
      <a href="/src/templates/index.html" class="font-bold text-2xl">Logo</a>
      <nav class="list-none mt-4 space-y-2">
        <a class="selected" href="/src/templates/select.html" >Create model</a>
        <a class="not-selected" href="#" >My backend</a>
        <a class="not-selected" href="/src/templates/manual.html" >Manual</a>
      </nav>
    </div>
  
    <!-- Main -->
    <main class="w-5/6 p-4">
        <div id="my-text" class="text-2xl font-bold">Классификатор</div>
        <script type="text/javascript" src="/src/statics/scripts/text_animation.js"></script>
        <!-- Основной контент -->
            <div class="mt-4 w-1/2">
                <form id="create-handler-form" class="space-y-4" method="post" enctype="multipart/form-data">
                    <div>
                        <label for="endpoint_path" class="block font-medium">Путь конечной точки:</label>
                        <input type="text" id="endpoint_path" name="endpoint_path" required class="mt-1 p-2 border border-gray-300 rounded w-full">
                    </div>
    
                    <div>
                        <label for="algorithm" class="block font-medium">Выберите алгоритм:</label>
                        <select id="algorithm" name="algorithm" required class="mt-1 p-2 border border-gray-300 rounded w-full">
                            <option value="logistic_regression">Логистическая регрессия</option>
                            <option value="boost">Градиентный бустинг</option>
                        </select>
                    </div>
                    <div>
                        <label for="dataset" class="block font-medium text-gray-700 mb-2">Загрузите набор данных (CSV):</label>
                        <input type="file" id="dataset" name="dataset" accept=".csv" required class="sr-only" />
                        <label for="dataset" class="transition bg-transparent hover:bg-black text-black font-semibold hover:text-white py-2 px-4 border border-black hover:border-transparent rounded cursor-pointer">
                            Выбрать файл
                        </label>
                        <span id="file-name" class="mt-2 text-gray-700 ml-2"></span>
                    </div>
    
                    <div>
                        <label for="label_name" class="block font-medium">Имя метки:</label>
                        <input type="text" id="label_name" name="label_name" required class="mt-1 p-2 border border-gray-300 rounded w-full">
                    </div>
    
                    <button type="submit" class="bg-black text-white py-2 px-4 rounded w-full">Создать обработчик</button>
                </form>
                <div id="response" class="mt-4"></div>
            </div>
            <!-- Уведомление при успехе-->
            <div id="notification" class="hidden fixed bottom-24 right-4 bg-green-500 text-white font-semibold tracking-wide flex items-center w-max max-w-sm p-4 rounded-md shadow-md shadow-green-200">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-[18px] shrink-0 fill-white inline mr-3" viewBox="0 0 512 512">
                      <ellipse cx="256" cy="256" fill="#fff" data-original="#fff" rx="256" ry="255.832" />
                      <path class="fill-green-500" d="m235.472 392.08-121.04-94.296 34.416-44.168 74.328 57.904 122.672-177.016 46.032 31.888z" data-original="#ffffff" />
                </svg>
                <span class="block sm:inline text-sm mr-3">Update successfully</span>
            </div>
    <script type="text/javascript" src="/src/statics/scripts/classifications.js"></script>
    </main>
</div>
</body>
</html>
  










        