<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TrainMe | Home</title>
    <link href="/src/statics/styles/out.css" rel="stylesheet">
</head>
<body>
  <div class="flex">
    <!-- Sidebar -->
    <div class="w-1/6 h-screen bg-white sticky sidebar">
      <a href="#" class="font-bold text-2xl">Logo</a>
      <nav class="list-none mt-4 space-y-2">
        <a class="not-selected" href="/src/templates/select.html" >Create model</a>
        <a class="not-selected" href="#" >My backend</a>
        <a class="not-selected" href="/src/templates/manual.html" >Manual</a>
      </nav>
    </div>
  
    <!-- Main -->
    <main class="w-5/6 p-4">
        <div id="my-text" class="text-2xl font-bold">TrainMe</div>
        <script type="text/javascript" src="/src/statics/scripts/text_animation.js"></script>
        <p class="text-lg mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda doloribus hic explicabo ea sapiente. Reiciendis repellendus enim voluptate, assumenda adipisci recusandae nesciunt nobis</p>
        <p class="text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda doloribus hic explicabo ea sapiente. Reiciendis repellendus enim voluptate, assumenda adipisci recusandae nesciunt nobis</p>
        <p class="text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda doloribus hic explicabo ea sapiente. Reiciendis repellendus enim voluptate, assumenda adipisci recusandae nesciunt nobis</p>
        <p class="text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda doloribus hic explicabo ea sapiente. Reiciendis repellendus enim voluptate, assumenda adipisci recusandae nesciunt nobis</p>
    </main>
</div>
</body>
</html>
  