<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TrainMe | Home</title>
    <link href="/src/statics/styles/out.css" rel="stylesheet">
</head>
<body>
  <div class="flex">
    <!-- Sidebar -->
    <div class="w-1/6 h-screen bg-white sticky top-0 py-4 px-6 border-r shadow-xl">
      <a href="#" class="font-bold text-2xl">Logo</a>
      <nav class="list-none mt-4 space-y-2">
        <a href="/src/templates/select.html" class="p-2 transition hover:bg-gray-100 rounded block text-lg text-[#334155] hover:text-black">Create model</a>
        <a href="#" class="p-2 transition hover:bg-gray-100 rounded block text-lg text-[#334155] hover:text-black">My backend</a>
        <a href="/src/templates/manual.html" class="p-2 transition hover:bg-gray-100 rounded block text-lg text-[#334155] hover:text-black">Manual</a>
      </nav>
    </div>
  
    <!-- Main -->
    <main class="w-5/6 p-4">
        <div id="my-text" class="text-2xl font-bold">TrainMe</div>
        <script type="text/javascript" src="/src/statics/scripts/text_animation.js"></script>
    </main>
</div>
</body>
</html>
  