<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TrainMe | Home</title>
	<link href="/src/statics/styles/out.css" rel="stylesheet">
	
</head>
<body>
	<div class="flex">
		<!-- Sidebar -->
		<div class="w-1/6 h-screen sticky bg-white sidebar flex flex-col justify-between">
			<div>
				<a href="/src/templates/index.html" class="font-bold text-2xl">Logo</a>
				<nav class="list-none mt-4 space-y-2">
					<a class="not-selected" href="/src/templates/select.html">Create model</a>
					<a class="not-selected" href="#">My backend</a>
					<a class="selected" href="#">Manual</a>
				</nav>
			</div>

			<div class="mb-4 ">
				<div id="username" class="text-lg font-medium mb-2">${usernaem}</div>
				<button id="logout-button" class="" onclick="logoutUser">logout</button>
			</div>
			<script src="/src/statics/scripts/feth_user_data.js"></script>
		</div>

		<!-- Main -->
		<main class="w-5/6 p-4">
			<h1 id="my-text" class="text-2xl font-bold">Manual</h1>
			<p class="mt-4 text-lg">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum ex, illo ad, quaerat reprehenderit eaque quasi quam, in ipsum asperiores odit magnam ab delectus veritatis doloremque</p>
			<p class="text-lg">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum ex, illo ad, quaerat reprehenderit eaque quasi quam, in ipsum asperiores odit magnam ab delectus veritatis doloremque</p>
			<p class="text-lg">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum ex, illo ad, quaerat reprehenderit eaque quasi quam, in ipsum asperiores odit magnam ab delectus veritatis doloremque</p>
			<p class="text-lg">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum ex, illo ad, quaerat reprehenderit eaque quasi quam, in ipsum asperiores odit magnam ab delectus veritatis doloremque</p>
			<p class="text-lg">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum ex, illo ad, quaerat reprehenderit eaque quasi quam, in ipsum asperiores odit magnam ab delectus veritatis doloremque</p>
			<script type="text/javascript" src="/src/statics/scripts/text_animation.js"></script>
		</main>
    </div>

	

</body>
</html>
