<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TrainMe | Home</title>
    <link href="/src/statics/styles/out.css" rel="stylesheet">
</head>
<body>
  <div class="flex">
    <!-- Sidebar -->
    <div class="w-1/6 h-screen bg-white sticky top-0 py-4 px-6 border-r shadow-xl">
      <a href="/src/templates/index.html" class="font-bold text-2xl">Logo</a>
      
      <nav class="list-none mt-4 space-y-2">
        <a href="#" class="p-2 transition bg-gray-100 rounded block text-lg text-[#334155] text-black">Create model</a>
        <a href="#" class="p-2 transition hover:bg-gray-100 rounded block text-lg text-[#334155] hover:text-black">My backend</a>
        <a href="/src/templates/manual.html" class="p-2 transition hover:bg-gray-100 rounded block text-lg text-[#334155] hover:text-black">Manual</a>
      </nav>
    </div>
  
    <!-- Main -->
    <main class="w-5/6 p-4">
        <div id="my-text" class="text-2xl font-bold">Создайте модель машинного обучения для своей задачи</div>
        <script type="text/javascript" src="/src/statics/scripts/text_animation.js"></script>
        <nav class="flex flex-row mt-4 space-x-4">
          <!-- Card -->
          <a href="#" class="p-4 bg-[#1f2937] rounded w-1/6 transition-transform transform hover:shadow-lg hover:-translate-y-2">
            <h1 class="text-center text-lg text-white font-bold">Классификация</h1>
            <p class="mt-2 text-center text-white">Метод классификации используется для определения категории, к которой принадлежит новый объект на основе обучающей выборки.</p>
          </a>
          <!-- Card -->
          <a href="#" class="p-4 bg-[#1f2937] rounded w-1/6 transition-transform transform hover:shadow-lg hover:-translate-y-2">
            <h1 class="text-center text-lg text-white font-bold">Кластерный анализ</h1>
            <p class="mt-2 text-center text-white">Кластерный анализ позволяет группировать объекты на основе их схожести без предварительных меток.</p>
          </a>
          <!-- Card -->
          <a href="#" class="p-4 bg-[#1f2937] rounded w-1/6 transition-transform transform hover:shadow-lg hover:-translate-y-2">
            <h1 class="text-center text-lg text-white font-bold">Регрессионный анализ</h1>
            <p class="mt-2 text-center text-white">Регрессионный анализ используется для предсказания вещественных значений: стоимости недвижимости, акций и тп.</p>
          </a>
        </nav>
        
    </main>
</div>
</body>
</html>
