{% extends 'components/base.html' %}

{% block title%}TrainMe | Home{% endblock %}


{% block content %}
<h1 id="my-text" class="text-2xl font-bold">TrainMe</h1>
<p class="text-lg mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda doloribus hic explicabo ea sapiente. Reiciendis repellendus enim voluptate, assumenda adipisci recusandae nesciunt nobis</p>
<p class="text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda doloribus hic explicabo ea sapiente. Reiciendis repellendus enim voluptate, assumenda adipisci recusandae nesciunt nobis</p>
<p class="text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda doloribus hic explicabo ea sapiente. Reiciendis repellendus enim voluptate, assumenda adipisci recusandae nesciunt nobis</p>
<p class="text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda doloribus hic explicabo ea sapiente. Reiciendis repellendus enim voluptate, assumenda adipisci recusandae nesciunt nobis</p>
<p class="text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda doloribus hic explicabo ea sapiente. Reiciendis repellendus enim voluptate, assumenda adipisci recusandae nesciunt nobis</p>
<p class="text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda doloribus hic explicabo ea sapiente. Reiciendis repellendus enim voluptate, assumenda adipisci recusandae nesciunt nobis</p>
<p class="text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda doloribus hic explicabo ea sapiente. Reiciendis repellendus enim voluptate, assumenda adipisci recusandae nesciunt nobis</p>
<p class="text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda doloribus hic explicabo ea sapiente. Reiciendis repellendus enim voluptate, assumenda adipisci recusandae nesciunt nobis</p>
<p class="text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda doloribus hic explicabo ea sapiente. Reiciendis repellendus enim voluptate, assumenda adipisci recusandae nesciunt nobis</p>
{% endblock %}