<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TrainMe | Select</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    {% extends 'pattern.html' %}
    {% block content %}
    <div class="flex flex-row container mx-auto justify-between space-x-4">
        <a href="/classification" class="bg-white shadow-[0_4px_12px_-5px_rgba(0,0,0,0.4)] w-full max-w-sm rounded-lg overflow-hidden font-[sans-serif] mt-4">
            <div class="min-h-[256px]">
                <img src="https://readymadeui.com/Imagination.webp" class="w-full" />
            </div>
            <div class="p-6">
                <h3 class="text-gray-800 text-xl font-bold">Классификация</h3>
                <p class="mt-4 text-sm text-gray-500 leading-relaxed">
                    Система группировки объектов исследования или наблюдения в соответствии с их общими признаками
                </p>
            </div>
        </a>

        <a href="/" class="bg-white shadow-[0_4px_12px_-5px_rgba(0,0,0,0.4)] w-full max-w-sm rounded-lg overflow-hidden font-[sans-serif] mt-4 opacity-50 pointer-events-none">
            <div class="min-h-[256px]">
                <img src="https://readymadeui.com/Imagination.webp" class="w-full" />
            </div>
            <div class="p-6">
                <h3 class="text-gray-800 text-xl font-bold">Регрессия</h3>
                <p class="mt-4 text-sm text-gray-500 leading-relaxed">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor auctor arcu, at fermentum dui. Maecenas
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor auctor arcu, at fermentum dui. Maecenas.
                </p>
            </div>
        </a>

        <a href="/" class="bg-white shadow-[0_4px_12px_-5px_rgba(0,0,0,0.4)] w-full max-w-sm rounded-lg overflow-hidden font-[sans-serif] mt-4 opacity-50 pointer-events-none">
            <div class="min-h-[256px]">
                <img src="https://readymadeui.com/Imagination.webp" class="w-full" />
            </div>
            <div class="p-6">
                <h3 class="text-gray-800 text-xl font-bold">Кластеризация</h3>
                <p class="mt-4 text-sm text-gray-500 leading-relaxed">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor auctor arcu, at fermentum dui. Maecenas
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor auctor arcu, at fermentum dui. Maecenas.
                </p>
            </div>
        </a>

        <a href="/" class="bg-white shadow-[0_4px_12px_-5px_rgba(0,0,0,0.4)] w-full max-w-sm rounded-lg overflow-hidden font-[sans-serif] mt-4 opacity-50 pointer-events-none">
            <div class="min-h-[256px]">
                <img src="https://readymadeui.com/Imagination.webp" class="w-full" />
            </div>
            <div class="p-6">
                <h3 class="text-gray-800 text-xl font-bold">Чат-боты</h3>
                <p class="mt-4 text-sm text-gray-500 leading-relaxed">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor auctor arcu, at fermentum dui. Maecenas
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor auctor arcu, at fermentum dui. Maecenas.
                </p>
            </div>
        </a>
    </div>
    {% endblock %}
</body>
</html>
